{{> header}}
<body class="body">
    <div class="page-wrapper">
        <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
            data-doc-height="1" role="banner" class="navigation container margin-top-40 w-nav">
            <nav class="navigation-wrap"><a href="/" aria-current="page" class="logo-link w-nav-brand w--current"><img
                        src="{{asset "images/isht.png" }}" loading="eager" width="15" height="15" alt="" class="image" />
                    <div class="navigation-logo">Samtök um mannvæna tækni</div>
                </a>
                <div class="menu">
                    <nav role="navigation" class="navigation-items w-nav-menu"><a
                            href="https://www.mannvaen.is/#malefni"
                            class="navigation-item-copy w-nav-link">MÁLEFNI</a><a
                            href="https://www.mannvaen.is/#vidburdir" class="navigation-item w-nav-link">VIÐBURÐIR</a><a
                            href="/grunnstefna" class="navigation-item-copy w-nav-link">GRUNNSTEFNA</a><a
                            href="https://www.mannvaen.is/#email-form" class="navigation-item w-nav-link">VERTU MEÐ</a>
                    </nav>
                    <div class="menu-button w-nav-button"><img src="{{ asset "images/menu-icon-png-1.webp" }}" width="30" alt=""
                            class="menu-icon" /></div>
                </div>
            </nav>
        </div>
        <div class="section cc-store-home-wrap">
            <div class="intro-header container">
                <div class="intro-content cc-homepage">
                    <div class="intro-text">
                        <div class="paragraph-bigger cc-bigger-white-light">Samtök um mannvæna tækni sinna fræðslu og
                            rannsóknum sem leggja áherslu á að hönnun, þróun og notkun tækni fylgi siðferðilegum
                            viðmiðum sem setur <span class="text-span-3">velferð notenda, náttúru og samfélags </span>í
                            heild í forgang fram yfir einkahagsmuni og skammtímaávinning.<br /></div>
                    </div>
                    <div class="w-layout-blockcontainer container-5 w-container"><a href="#vidburdir"
                            class="button cc-jumbo-button cc-jumbo-white w-inline-block">
                            <div class="button-text">Næstu viðburðir</div>
                        </a><a href="/grunnstefna" class="button cc-jumbo-button cc-jumbo-white w-inline-block">
                            <div class="button-text">Grunnstefna -&gt;</div>
                        </a></div>
                </div>
            </div>
            <div class="div-block-3"></div>
            <div id="malefni" class="container">
                <h1 class="heading-jumbo-small">Greinar</h1>
                <div class="w-dyn-list">
                    <div role="list" class="container less-padding w-dyn-items w-row">
                        <div role="listitem" class="container no-padding w-dyn-item w-col w-col-4"><a
                                href="/grein/umsogn-vid-adgerdaaaetlun-stjornvalda"
                                class="blog-preview-wrap event-card small-event-card _400px w-inline-block">
                                <p id="November 20, 2024" class="label cc-blog-date">November 20, 2024</p>
                                <div id="Umsögn við aðgerðaáætlun stjórnvalda í gervigreind 2024-2026"
                                    class="business-article-heading">Umsögn við aðgerðaáætlun stjórnvalda í gervigreind
                                    2024-2026</div>
                                <p class="smallest-heading smaller-line-height">Gamithra Marga, Atli Þór Jóhannsson,
                                    Aþena Ýr Ingimundardóttir</p>
                            </a></div>
                    </div>
                </div>
                <h1 class="heading-jumbo-small margin-top-20">Málefni</h1>
                <div class="home-content-wrap">
                    <div class="w-layout-grid about-grid">
                        <p id="w-node-_86e64837-0616-515b-4568-76c147234d3a-0bc50183" class="paragraph-light">Sömu
                            tækniframfarir og hafa gert okkur kleift að tengjast, ræða og leysa alþjóðleg vandamál á
                            áður óþekktum skala, eru einnig nýttar til að græða á athygli okkar. Þetta getur leitt til
                            ávanabindandi stafrænnar hegðunar, minnis- og athyglisvandamála, einmanaleika og almennrar
                            aftengingar frá samfélaginu. Fjarlægðin og nafnleyndin sem algrímsstýrð stafræn rými
                            byggjast á ala óneitanlega á hatri, neteinelti og stöðugum félagslegum samanburði.</p>
                        <div id="w-node-_86e64837-0616-515b-4568-76c147234d34-0bc50183">
                            <div class="home-section-wrap">
                                <div class="label cc-light">1</div>
                                <h2 class="section-heading"><strong class="bold-text">Félagsleg og
                                        sálræn heilsa</strong></h2>
                            </div>
                        </div>
                    </div>
                    <div class="w-layout-grid about-grid">
                        <p id="w-node-_214d060b-3b01-a301-f38d-c5a73ec1b2db-0bc50183" class="paragraph-light">Í heimi
                            þar sem upplýsingar ferðast á ljóshraða án nokkurra takmarkana er nauðsynlegt að skapa nýjar
                            væntingar og viðmið til að vernda trúverðugleika upplýsinga og lýðræðisleg gildi.
                            Algrímsstýrðir bergmálshellar og sjálfvirk sögufölsun stýrir því hvernig við kjósum, deilum,
                            tölum saman og tökum ákvarðanir. Þrátt fyrir að við höfum tæknigetuna til að skapa beint
                            útópískt lýðræði, þá hvetja óforskömmuð viðskiptamódel frekar til meiri aftengingar og
                            sundrungar en áður hefur sést, þar sem línurnar á milli sannleika og tilbúnings verða
                            sífellt óljósari.</p>
                        <div id="w-node-_214d060b-3b01-a301-f38d-c5a73ec1b2dd-0bc50183">
                            <div class="home-section-wrap">
                                <div class="label cc-light">2</div>
                                <h2 class="section-heading"><strong>Upplýsingaöryggi og lýðræði</strong></h2>
                            </div>
                        </div>
                    </div>
                    <div class="w-layout-grid about-grid">
                        <p id="w-node-_4bbfb0ba-a865-6de2-c211-a566c4e061ae-0bc50183" class="paragraph-light">Sama
                            nútímatækni og gerir okkur kleift að flýta öllum ferlum flýtir einnig öllum alþjóðlegum
                            áhættum sem teknar eru. Við verðum að bregðast skjótt við ógnum sem stafa af afskiptalausri
                            gervigreind, aukinni sjálfvirkni og algrímshlutdrægni, áhrifum mannskyns á lífríkið og
                            vaxandi efnahagslegum ójöfnuði í heiminum. Það sem meira er, vaxandi valdaójafnvægi í
                            heiminum eykur hættuna á því að þeir sem hafa aðgang að nútímatækni á borð við gervigreind
                            og líftækni noti hana í hernaðarlegum tilgangi.</p>
                        <div id="w-node-_4bbfb0ba-a865-6de2-c211-a566c4e061b0-0bc50183">
                            <div class="home-section-wrap">
                                <div class="label cc-light">3</div>
                                <h2 class="section-heading"><strong>Óheft tækniþróun</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div id="vidburdir" class="container">
                <div class="blog-heading">
                    <h2 class="heading-jumbo-small">Viðburðir<br /></h2>
                </div>
                <div class="collection-list-wrapper w-dyn-list">
                    <div class="status-message cc-no-data w-dyn-empty">
                        <div>Engir viðburðir á dagskrá eins og er.</div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section">
            <div id="vidburdir" class="container">
                <h5 class="heading-jumbo-tiny">Eldri viðburðir</h5>
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items w-row">
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">Feb 26, 2025 18:30</p>
                            <h1 class="business-article-heading">☀️ Solarpunk - symbols, images, and myths</h1>
                            <p class="smallest-heading">hafnar.haus</p>
                        </div>
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">Feb 9, 2025 23:55</p>
                            <h1 class="business-article-heading">AI governance course registration deadline</h1>
                            <p class="smallest-heading w-dyn-bind-empty"></p>
                        </div>
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">Jan 25, 2025 15:00</p>
                            <h1 class="business-article-heading">Gervisiðferði - hver mun eiga gildin okkar?</h1>
                            <p class="smallest-heading">Borgarbókasafnið Grófinni</p>
                        </div>
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">Jan 15, 2025 19:00</p>
                            <h1 class="business-article-heading">Kynningarfundur</h1>
                            <p class="smallest-heading">hafnar.haus</p>
                        </div>
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">Jun 12, 2024 17:30</p>
                            <h1 class="business-article-heading">Gervigreindarkaffi</h1>
                            <p class="smallest-heading">KEX hostel</p>
                        </div>
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">May 16, 2024 17:30</p>
                            <h1 class="business-article-heading">Bókaklúbbur: Surveillance Capitalism or Democracy?</h1>
                            <p class="smallest-heading">Hús máls og menningar, Laugavegur 18</p>
                        </div>
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">Mar 4, 2024 12:00</p>
                            <h1 class="business-article-heading">AI governance course application deadline</h1>
                            <p class="smallest-heading">Gróska, Bjargargata 1</p>
                        </div>
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">Feb 27, 2024 16:45</p>
                            <h1 class="business-article-heading">Smásmiðja: stafræn hreinsun</h1>
                            <p class="smallest-heading">Borgarbókasafnið</p>
                        </div>
                        <div role="listitem"
                            class="blog-preview-wrap event-card small-event-card event-only w-dyn-item w-col w-col-6">
                            <p class="label cc-blog-date">Feb 15, 2024 17:00</p>
                            <h1 class="business-article-heading">Mannvænt kaffi</h1>
                            <p class="smallest-heading">KEX hostel</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div data-record-id="0430ea1b-be93-fc28-ad88-155ce0681deb" data-copilot="true" class="section-2 padding-20">
            <div class="container">
                <div class="w-layout-grid grid-layout tablet-1-column grid-gap-xxl"><img width="Auto" height="Auto"
                        alt="" src="{{asset "images/sumt-20stjorn.jpg" }}" loading="lazy"
                        id="w-node-ed3ec5fb-5e68-e802-f372-20693b98020c-0bc50183" class="utility-image-cover" />
                    <div id="w-node-ed3ec5fb-5e68-e802-f372-20693b980220-0bc50183">
                        <h1 class="business-article-heading">Um okkur</h1>
                        <p class="paragraph-light">Samtökin voru stofnuð árið 2023. Í stjórn félagsins sitja Atli Þór
                            Jóhannsson, Gamithra Marga og Athena Ýr Ingimundardóttir.<br /><br />Samtökin halda opna
                            skipulagsfundi hálfsmánaðarlega; nánari upplýsingar á Slack.</p><a
                            href="https://join.slack.com/t/mannvaen/shared_invite/zt-2cdul4gdy-SEL8rxuKOIg2jdS~eTUTuA"
                            target="_blank" class="link-5">Slack rás -&gt;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form"
                data-wf-page-id="65490a00c567736a0bc50183" data-wf-element-id="0a249536-93fd-3c41-6af2-99f8eb94f07c">
                <label for="email" class="field-label">Viltu vera með?</label>
                <p class="paragraph">Núna er besti tíminn til að vera með í umræðunni!</p><input
                    class="text-field-2 w-input" maxlength="256" name="email" data-name="Email" placeholder="Netfang"
                    type="email" id="email" required="" /><input type="submit" data-wait="Augnablik"
                    class="submit-button w-button" value="Skrá áhuga" />
            </form>
            <div class="success-message w-form-done">
                <div class="text-block-3">Takk! Við verðum í bandi!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="footer-wrap">
                    <p class="paragraph-2">Samtök um mannvæna tækni (kt. 6205240690)</p>
                    <p class="footer-link"><a href="mailto:hallo@mannvaen.is" class="link-3">hallo@mannvaen.is</a></p>
                    <p class="footer-link"><a href="https://facebook.com/mannvaen" target="_blank"
                            class="link-3">Facebook síða</a></p>
                    <p class="footer-link"><a
                            href="https://join.slack.com/t/mannvaen/shared_invite/zt-2cdul4gdy-SEL8rxuKOIg2jdS~eTUTuA"
                            target="_blank" class="link-3">Slack rás</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{{asset "js/jquery.js" }}" type="text/javascript"></script>
    <script src="{{asset "js/webflow.schunk.02e5214ae639960c.js" }}" type="text/javascript"></script>
    <script src="{{asset "js/webflow.schunk.9d01d6178c7d700b.js" }}" type="text/javascript"></script>
    <script src="{{asset "js/webflow-script.js" }}" type="text/javascript"></script>
</body>
